
@{
    ViewBag.Title = "course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/css/dataTables.bootstrap.css" rel="stylesheet" />*@

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Course</h4>
            </div>
            <div class="modal-body">
                <!-- /.box-header -->
                <form method="post" enctype="multipart/form-data" id="myForm">
                    <div class="row">
                        <label>Course Name</label>
                        <input type="text" class="form-control" name="COURSE_NAME" id="course_name" required placeholder="Enter Course Name">
                        <!-- <span class="help-block error">* User Name Already Exist</span> -->

                    </div>


                    <div class="row">
                        <label>Fees</label>
                        <input type="number" class="form-control" name="FEES" id="fees" placeholder="Enter Fees">
                        <!-- <span class="help-block error">* User Name Already Exist</span> -->
                    </div>



                    <div class="box-footer">
                        <input type="hidden" id="hdnid" name="ID" />
                        <input type="submit" class="btn btn-success pull-right" id="add" value="Add Course" />
                        <input type="submit" class="btn btn-success pull-right hidden" id="hide" value="Update Course" />
                    </div>
                </form>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</div>


<div class="box-header">
    @*<h3 class="box-title">Register</h3>*@
    <a data-toggle="modal" data-target="#myModal" onclick="OpenDialog2()" data-dismiss="modal" type="button" class="btn btn-primary" style="float: right;">New Course</a>
</div>

<div>
    <table id="editable-sample" class="table table-bordered table-striped">
        <thead>
            <tr>

                <th>Sr No</th>
                <th>Course Name</th>
                <th>Fees</th>

                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @{int i = 1;}
            @foreach (var item in ViewBag.course)
            {

                <tr id="row_@item.ID">

                    <td>
                        @i
                    </td>
                    <td>
                        @item.COURSE_NAME
                    </td>
                    <td>
                        @item.FEES
                    </td>



                    <td>
                        <a onclick="OpenDialog(@item.ID)" style="display:inline" data-toggle="modal" data-target="#myModal" type="button"> <i class="fa fa-edit"></i></a>
                        <a onclick="Delete(@item.ID,'del')"> &nbsp; <i class="fa fa-trash-o"></i> </a>
                    </td>

                </tr>
                i++;
            }

        </tbody>
    </table>
</div>

<style>
    .dropdown-menu {
        z-index: 1100;
    }
</style>
@*<script src="~/js/jquery.js"></script>*@
@*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
@*<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@

<script>
    $(document).ready(function () {
        $('#editable-sample').DataTable();
    });
</script>

<script src="~/Scripts/plugins/js/jquery.js"></script>
<script src="~/Scripts/plugins/dataTables.bootstrap.min.js"></script>
<script>
    function OpenDialog2()
    {
        document.getElementById("myForm").reset();
            var pati = {

            }
            $('#hdnid').val(0);
            $('#add').removeClass('hidden');
            $('#logoid').addClass('hidden');
            $('#hide').addClass('hidden');

        }
</script>
<script>
    function OpenDialog(id) {
        var pati = {
            ID : id,
        }
        $('#add').addClass('hidden');
        $('#logoid').addClass('hidden');
        $('#hide').removeClass('hidden');
        $.ajax({
            url: '/Home/getcourse/' + id,
            type: 'GET',
            success: function (data) {
                $('#hdnid').val(data.data.ID);
                $('#course_name').val(data.data.COURSE_NAME);
                $('#fees').val(data.data.FEES );

            }
        });
    }
</script>

@*<script>
        $(document).ready(function () {
          //  $("#tblEmployeetbody").remove();
            $.ajax
            ({
                type: 'POST',
                url: '/Home/getdatacourse/',
                dataType: 'json',
                data: {},
                success: function (data) {
                  //  $("#imgLoading").hide();
                    var items = '';
                    var rows = "<tr>" +
                        "<th align='left' class='EmployeeTableTH'> ID</th><th align='left' class='EmployeeTableTH'>Course_name Name</th><th align='left' class='EmployeeTableTH'>course fee</th>" +
                        "</tr>";
                    $('#editable-sample').append(rows);

                    $.each(data, function (i, item) {
                        var rows = "<tr>" +
                            "<td class='EmployeeTableTD'>" + item.id + "</td>" +
                            "<td class='EmployeeTableTD'>" + item.coursename + "</td>" +
                            "<td class='EmployeeTableTD'>" + item.fee + "</td>" +

                            "</tr>";
                        $('#editable-sample').append(rows);
                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                }
            });
        });
    </script>*@

<script>
        function Delete(id,del)
        {
            if (confirm("Are you sure Delete this Record?")) {
                var deletes =
                   {
                       ID : id,
                       course_del: del,
                   }
                {
                    $.ajax({
                        url: '/Home/delete/',
                        data: JSON.stringify(deletes),
                        type: 'post',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var dt = data.data.ID;

                                $('#row_'+dt).hide();


                        }
                    });
                    error: {

                    }
                }
            }
            return false;
        }

</script>
